@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 1340px;
    margin: 0 auto;
}

/* Header */
.header {
    background-color: #F3D7B7;
    height: 100vh;
}

.nav {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
    gap: 40px;
}

.nav_list-item {
    list-style: none;
}

.nav_list-item_link {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
}

.headercol_h1 {
    width: 447px;
    height: 150px;
    margin-top: 50px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.headercol_h1::after{
    content: "is made simply.";
}
.headercol_p{
    width: 464px;
    height: 72px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.headercol_p1{
    width: 193px;
    height: 51px;
    background-color: #0A775F;
    margin-top: 20px;
    padding: 16px 24px;
    border-radius: 100px;
    gap: 10px;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    transition: 0.6s;

}
.headercol_p1:hover{
    color: #0A775F;
    background-color: white;
}
.headercol{
    display: flex;
}

.headercol{
    background: url("../image/Rectangle\ 679.png");
    width: 710px;
    height: 649px;
    margin: 200px;
    
    position: relative;
}
.in-box{
    margin-top: -100px;
    margin-left: -100px;
}
.in-box img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}