.header {
    background-color: aqua;
    text-align: center;
    padding: 20px;
    color: white;
}

.Left {
    background-color: red;
    width: 400px;
    height: 20vh;
    text-align: center;
    color: white;
    padding-top: 110px;
}

.Main {
    background-color: yellowgreen;
    width: 730px;
    height: 20vh;
    text-align: center;
    color: white;
    padding-top: 110px;
}

.Right {
    background-color: yellow;
    width: 400px;
    height: 20vh;
    text-align: center;
    color: white;
    padding-top: 110px;
}

.row {
    display: flex;
}



.roow {
    background-color: darkmagenta;
    display: flex;
    justify-content: space-around;

}


.Footer {
    background-color: coral;
    width: 100px;
    height: 10vh;
    margin: 15px;
    color: white;
    text-align: center;
    
 
}

.Footer {
    background-color: coral;
    width: 100px;
    height: 10vh;
    text-align: center;
    margin: 15px;
}

.Footer {
    background-color: coral;
    width: 100px;
    height: 10vh;
    text-align: center;
    margin: 15px;
    padding-top: 50px;
}

.Footer {
    background-color: coral;
    width: 100px;
    height: 10vh;
    text-align: center;
    margin: 15px;
}